

  @import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300&family=Quicksand:wght@500&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
    background-color: #7fffd45e;
}
.styl{
    display: flex;
    justify-content: space-around;
    
}
.header{
    font-family: 'Livvic', sans-serif;
    display: flex;
    justify-content: center;
    color: #a51313;
    text-transform: uppercase;
    text-decoration: dashed underline;
    letter-spacing: 0.01em;
}
hr{
    width: 100%;
    border: 2px solid brown;
}